{{- $projectId := required "values.gcp.projectId is required" .Values.gcp.projectId -}}

apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: wiki-producer-sm
  namespace: {{ .Release.Namespace }}
spec:
  provider: gke

  parameters:
    secrets: |
      - resourceName: "projects/{{ $projectId }}/secrets/wiki_user_agent/versions/latest"
        fileName: "WIKI_USER_AGENT"
      - resourceName: "projects/{{ $projectId }}/secrets/kafka_bootstrap_servers/versions/latest"
        fileName: "KAFKA_BOOTSTRAP_SERVERS"
      - resourceName: "projects/{{ $projectId }}/secrets/kafka_sasl_username/versions/latest"
        fileName: "KAFKA_SASL_USERNAME"